@import "import";
@import "colors";

* {
  box-sizing: border-box;
}

body {
  font-family: Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $cl-dark;
  @include text-link-color( $cl-light );
}

.clickable {
  cursor: pointer;
}

header {
  $height: 50px;

  width: 100%;
  height: $height;

  > h1 {
    float: left;
    margin: 0;
    padding: 0 1.5rem;
    line-height: $height;
    font-size: 1.5rem;
    font-family: 'Poiret One';
  }

  > div {
    float: right;
    height: $height;

    > a {
      float: left;
      display: block;
      line-height: $height;
      width: $height;
      text-align: center;
      text-decoration: none;

      @include transition;

      &:hover {
        background-color: $cl-gray;
      }
    }

    @include clearfix;
  }

  @include clearfix;
}

#main {
  width: 100%;

  &.modal-open {
    position: fixed;
  }
}

#contents {
  background-color: $cl-light;
  @include text-link-color( $cl-dark );
  box-shadow: inset 0 0 3px $cl-dark;

  > .filters {
    text-align: center;
    padding: 0.5rem;

    > label {
      display: inline-block;
      border: 1px solid $cl-gray;
      border-radius: 3px;
      padding: 0.3rem 0.5rem;
      margin: 0.3rem;
      @include transition;

      &:hover {
        box-shadow: inset 0 0 5px $cl-gray;
      }

      &.selected {
        background-color: $cl-gray;
        color: $cl-light;
      }

      > input[type~="radio"] {
        display: none;
      }
    }
  }

  > ul.boxes {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;

    $size: 200px;

    > li {
      @include card;
      display: inline-block;
      position: relative;
      height: $size;
      width: $size;
      margin: 1rem;
      overflow: hidden;
      vertical-align: middle;
      background-color: transparent;

      > * {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $size;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      img {
        height: $size;
        object-fit: cover;
        vertical-align: bottom;
      }
    }
  }
}

footer {
  > * {
    margin: 1.5rem 0;
    text-align: center;
  }

  > .link {

    > a {
      display: inline-block;
      text-decoration: none;
      $size: 2.5em;
      line-height: $size;
      width: $size;

      @include transition;

      &:hover {
        background-color: $cl-gray;
      }
    }
  }

  > .copyright {
    font-size: 0.7rem;
  }
}

#item-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  > .modal-window {
    @include text-link-color($cl-dark);
    border-radius: 5px;
    position: relative;
    background-color: white;
    display: table;
    margin: 1rem auto;
    padding: 1rem;
    width: 95%;
    max-width: 400px;

    > .modal-header {
      margin-bottom: 1rem;

      > button {
        @include card;
        color: $cl-gray;
        float: right;
        padding: 0.5rem;
        border: 1px solid $cl-lightgray;
        background-color: $cl-light;
      }
      > div {
        float: left;

        h3 {
          margin: 0 0 0.1rem 0;
          font-size: 1rem;
        }

        span {
          color: $cl-gray;
          font-size: 0.7rem;
        }
      }
      @include clearfix;
    }

    > .main-img {
      text-align: center;
      box-shadow: 0 0 3px $cl-gray;

      > img {
        display: block;
        width: 100%;
      }
    }

    > .links {
      font-size: 0.8rem;

      > a {
        display: inline-block;
        padding: 0.3rem 0.5rem;
        background-color: $cl-dark;
        color: $cl-light;
        border: 1px solid $cl-dark;
        text-decoration: none;
        &:hover {
          background-color: $cl-light;
          color: $cl-dark;
        }
      }
    }

    > .tags {
      font-size: 0.8rem;
      text-align: right;

      > a {
        text-decoration: none;
        display: inline-block;
        padding: 0.3rem;

        &:hover {
          text-decoration: underline;
          color: $cl-gray;
        }
      }
    }
  }
}
