<div class="modal-window" ng-click="$event.stopPropagation()">
  <div class="modal-header">
    <button type="button" class="clickable" ng-click="close()">
      <i class="fa fa-fw fa-times"></i>
    </button>
    <div>
      <h3>{{item.title}}</h3>
      <span>{{item.date}}</span>
    </div>
  </div>

  <div class="main-img" ng-if="item.img">
    <img ng-src="{{item.img}}" alt="{{item.title}}">
  </div>

  <div ng-if="item.description.length">
    <p ng-repeat="p in item.description">
      <span ng-repeat="line in p">{{line}}</span><br>
    </p>
  </div>

  <div ng-if="item.links" class="links">
    <a ng-repeat="(name, url) in item.links" ng-href="{{url}}" target="_blank">
      <i class="fa fa-fw fa-external-link"></i>
      <span>{{name}}</span>
    </a>
  </div>

  <div class="tags">
    <a ng-repeat="tag in item.tags" ng-href="#tag-{{tag}}">#{{tag}}</a>
  </div>
</div>
